# Ignore Virtual Env
venv/
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Data (We generally don't commit large CSVs)
data/
*.csv
!data/.gitkeep  # Keep the folder structure, just not the files

# dbt
dbt/target/
dbt/logs/
dbt/dbt_packages/

# IDE
.vscode/
.DS_Store