# Core
pandas
numpy
faker

# Infrastructure
python-dotenv
snowflake-connector-python
pyarrow

# dbt
dbt-snowflake

# Orchestration
dagster
dagster-dbt
dagster-webserver

# Visualization
streamlit
plotly