name: OpenLedger CI

# Trigger on push to main or pull requests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  dbt-build:
    name: Run dbt build
    runs-on: ubuntu-latest

    # Define secrets for the Linux runner
    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_SOURCE_SCHEMA: RAW
      SNOWFLAKE_TARGET_SCHEMA: ANALYTICS

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install dbt-snowflake
          pip install -r requirements.txt || echo "No requirements.txt found"

      - name: install dbt deps
        run: dbt deps --project-dir dbt
      
      - name: run dbt build
        run: dbt build --project-dir dbt --profiles-dir dbt --target dbt --full-refresh

      - name: run dbt debug
        run: cd dbt && dbt debug

      - name: run dbt test
        run: cd dbt && dbt deps && dbt test