name: OpenLedger CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  dbt-build:
    runs-on: ubuntu-latest
    env:
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
      SNOWFLAKE_ROLE: ${{ secrets.SNOWFLAKE_ROLE }}
      SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
      SNOWFLAKE_DATABASE: ${{ secrets.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_SOURCE_SCHEMA: RAW
      SNOWFLAKE_TARGET_SCHEMA: ANALYTICS

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install dbt-snowflake
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Install dbt packages
        run: dbt deps --project-dir dbt

      - name: Run dbt Build
        run: dbt build --project-dir dbt --profiles-dir dbt --target dev --full-refresh